<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tensorflow playground</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis@1.4.3/dist/tfjs-vis.umd.min.js"></script>

{% if page.head_include %}
{% include {{ page.head_include }} %}
{% endif %}
</head>
<body>
<nav class="navbar is-fixed-top">
  <div class="navbar-end">
    <div class='container'>
      <div class="field">
        <div class="control">
          <div class="select">
            <select id='editor'>
              <option>Editor</option>
              <option value='vim'>Vim</option>
              <option value='emacs'>Emacs</option>
              <option value='sublime'>Sublime</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="section">
  <div class="tabs is-centered">
    <ul>
      <li class="is-active"><a href='/'>Intro</a></li>
      <li><a href='deep_neural_networks.html'>Deep neural networks</a></li>
      <li><a href='cnn.html'>CNN</a></li>
      <li><a href='playground.html'>Playground</a></li>
    </ul>
  </div>
  <div class="container">
    {{ content }}
  </div>
</section>
</body>
